[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.cargo]
features = "all"

[[language]]
name = "rust"
indent = { tab-width = 4, unit = "    " }
auto-format = false
comment-tokens = "//"
